.sensor{
	position: fixed;
	width: 10px;
	height: 10px;
	background: green;
	border-radius: 6px;
	border: 1px solid rgb(0,64,128);
}

.display{
	position: fixed;
	width: 50px;
	height: 15px;
	top: 400px;
	left: 100px;
	border: 1px solid black;
	text-align: center;
	font: 13px verdana;
}